/* page1 div1.1*/
body{
  background-color: #e6e6e6;
  margin: 0px;
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.li1 {
  float: left;
}

.li {
  float: left;
  padding: 2px 3px;
  text-align: center;
}

.li2 {
  float: left;
  padding: 4px 6px;
  text-align: center;
}

li a {
  display: block;
  text-decoration: none;
}

.active {
  background-color: yellow;
}

.nav {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.spa {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.back{
  border: 2px solid  #d9d9d9;
  padding: 5px;
  background-color: #d9d9d9;
  border-radius: 10px;
  text-align: center;
  color:#737373;
}

li a:hover:not(.active) {
  background-color:  #8080ff;
}

.ul2 {
  list-style-type: none;
  margin-left:  280px;
  margin-right: 280px;
  padding: 0;
  overflow: hidden;
}

.ul3 {
  list-style-type: none;
  margin-left:  100px;
  margin-right: 100px;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  color:#737373;
}

.div11{
  height: 230px;
}

.c{
  font-size: 18px;
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.li1 {
  float: left;
}
.nav {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
.c{
  font-size: 18px;
}
/* page1 div1.1*/


/* page1 div1.2*/
td,th {
padding: 10px 15px;
}

th {
text-align: left;
font-size: 15px;
font-weight: none;
background-color:#f2f2f2;
}

table, td {
border-collapse: collapse;
}

.table{
background-color: #ffffff;
margin: 0px 70px;
font-family: Arial, Helvetica, sans-serif;
}

.img1 {
width: 250px;
height: 350px;
border: 2px solid #fff;
border-radius: 10px;
}

.pic {
color:#000;
text-align: center;
}

.pic2 {
color:#666666;
text-align: center;
}

.div12{
height: 1350px;
}
.w {
border: 2px solid #f2f2f2 ;
background-color:  #f2f2f2 ;
font-size: 20px;
width: 200px;
}
/* page1 div1.2*/



/* page add*/
.table{
  border: solid 1px #cccccc;
  margin-top: 20px;
  margin-left: 65px;
  width: 90%;
}

.th1{
	border: solid 1px #cccccc;
	font-size: 13px;
	background-color: #f2f2f2;
	color: #333333;
}

.tdp2{
	height: 100px;
}

.Enter{
	border: solid 1px #cccccc;
	padding: 8px;
	color:#808080;
	font-size: 14px;
  width:1120px;
}

.add{
	border: solid 1px #66b3ff;
	text-align: center;
	width: 43px;
	background-color: #66b3ff;
	padding: 8px;
	border-radius: 5px;
	color: white;
}
/* page add*/



/* page login*/
.log{
  width: 350px;
  height: 500px;
  border: 1px solid #e6e6e6;
  background-color: white;
  text-align: center;
  margin: 130px 450px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
}

.text{
  height: 40px;
  width: 300px;
  margin: 10px;
  margin-left: 23px;
  font-size: 18px;
  background-color: white;
  border: 1px solid #b3b3b3;
  color: #808080;
  padding-bottom: 10px;
}

.text2{
  height: 40px;
  width: 302px;
  margin: 2px;
  font-size: 18px;
  color:white
}

.c1{
	border: solid black 1px;
	padding-top: 3px;
	width: 50px;
	height: 50px;
	float: left;
	border:none;
}

.cc1{
	margin-top: 5px;
	border: solid black 1px;
	width: 230px;
	height: 50px;
	float: left;
	border:none;
}

.c2{
	border: solid  1px;
	padding-top: 3px;
	width: -90px;
	padding-left: 0px;
	margin-left: 23px;
	height: 45px;
	float: left;
	border:none;
	background-color: blue;
}

.cc2{
	margin-top: -45px;

	margin-left: 35px;
	border: solid  1px;
	width: 170px;
	height: 50px;
	float: left;
	border:none;
}

.ccc{
	height: 50px;
	background-color: #40bf40;
	border: 1px solid #40bf40;
}

.ccc4{
	height: 50px;
	background-color: blue;
	border: 1px solid blue;
	height: 40px;
	width: 302px;
	margin: 2px;
	font-size: 18px;
	color:white
}

.ccc5{
	height: 50px;
	background-color: red;
	border: 1px solid red;
	height: 40px;
	width: 302px;
	margin: 2px;
	font-size: 18px;
	color:white
}

.m{
	font-size: 18px;
	width: 230px;
	height:35px;
	color:#808080;
	border:none;
	background-color:white;
}

.forgot{
	font-size: 17px;
	padding-bottom: 0px;
	padding-top: 20px;
	height: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.forgot2{
	font-size: 15px;
	color: #808080;
	float: left;
	padding-left: 65px;
	padding-top: 0px;
}

.forgot21{
	font-size: 15px;
	color: #808080;
	float: left;
	padding-left: 35px;
	padding-top: 0px;
}

.forgot3{
	font-size: 15px;
	float: left;
	padding-left: 3px;
}

.c3{
	border: solid  red 1px;
	padding-top: 3px;
	width: -50px;
	padding-left: 0px;
	margin-left: 23px;
	height: 45px;
	float: left;
	border:none;
	background-color: red;
	margin-top: 5px;
}

.hr{
	margin-top: -30px;
	background-color: white;
	width: 30px;
	margin-left: 160px;
  font-size: 20px;
  margin-bottom: 10px;
}

hr{
  margin-top: 25px;
  width: 300px;
}
/* page login*/



/* page singup*/
.text3{
  height: 43px;
  width: 305px;
  margin: 10px;
  font-size: 18px;
  background-color: #00aaff;
  border: 1px solid #00aaff;
  color:white
}

.log2{
  width: 350px;
  height: 430px;
  border: 1px solid #e6e6e6;
  background-color: white;
  text-align: center;
  margin: 150px 440px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 0px;
}
/* page singup*/


/* last*/
.thaya {
  margin:  30px 75px;
}

.box{
  width: 20%;
  height: 370px;
  float: left;
  background-color: white;
}

.box2{
  width: 78.5%;
  height: 370px;
  float: right;
  background-color: white;
}

.box3{
	margin:  30px 75px;
  height: 374px;
  background-color: white;
}

.lastimg {
	width: 225px;
	height: 300px;
	border-radius: 10px;
}

.lasttext{
  height: 40px;
  width: 225px;
  margin:5px 2px;
  font-size: 18px;
  color:white
  height: 50px;
  background-color: #40bf40;
}

.hhh{
	margin-top:0px;
	margin-bottom: none;
	height: 15px;
}

.hhh2{
	margin-top:3px;
	margin-bottom: none;
	font-size: 25px;
	font-weight: bold;
	height: 15px;
}

.forgot2last{
	font-size: 15px;
	color: black;
	float: left;
	padding-top: 0px;
	margin-top:0px;
}

.forgot3last{
	font-size: 15px;
	color: red;
	float: left;
	padding-left: 3px;
	margin-top:0px;
}

.forgot2last2{
	color: black;
	float: left;
	margin-top:0px;
}

.forgot3last2{
	color: red;
	margin-left:570px ;
	float: left;
	padding-left: 3px;
	margin-top:0px;
}

.lastfont{
	font-size: 16px;
	font-weight: none;
}

.la1{
	padding-top: none;
	padding-right: 0px;
	width: 50px;
	height: 50px;
	float: left;
	border:none;
}

.la12{
	padding-top: none;
	width: 50px;
	height: 50px;
	float: left;
	border:none;
}

.alert{
	padding: 10px 35px 10px 15px;
	margin-bottom: 20px;
	color: #c09853;
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	border-radius: 4px;
}

.alert-info{
	margin:10px 75px;
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.forgoti{
	font-size: 15px;
	color: black;
	float: left;
	padding-top: 0px;
	margin-top:0px;
	margin-left: 20px;
	font-size: 20px;
}

.forgoti2{
	font-size: 15px;
	color: red;
	float: left;
	padding-left: 3px;
	margin-top:0px;
	color: #808080;
	font-size: 20px;
}

.forgoti3{
	color: #808080;
	font-size: 20px;
	border: 3px solid blck;
	padding-left: 10px;
	width: 100px;
	margin-top: 0px;
}

.inthu{
	border-left: 3px solid black;
	padding-right: 10px;
}

.thaya{
	margin-right: 10px;
}

.titi{
	margin-bottom: 30px;
}
/* last*/
